.account-field-wrapper {
    display: flex;
    flex-direction: row;
    padding: 1em 0 1em 1em;
    border-bottom: .5px dotted gray;
    .account-field {
        flex: 1;
    }
    &:nth-of-type(2n + 1) {
        background: lightgrey;
    }
}