<div class="account-list">
    <div class="title">
        <h1>Account List</h1>
    </div>
    <div class="headings">
        <h3 class="heading">Account number</h3>
        <h3 class="heading">Account Type</h3>
        <h3 class="heading">Balance</h3>
        <h3 class="heading"></h3>
    </div>
    <div class="account-list-fields-wrapper">
       <app-account-field></app-account-field>
       <app-account-field></app-account-field>
       <app-account-field></app-account-field>
       <app-account-field></app-account-field>
       <app-account-field></app-account-field>
    </div>
    <div class="footer">
        <h2 class="copy">Balance</h2>
        <div class="total">R XXXXXXX</div>
    </div>
    <div class="modal">
        <div class="modal-inner">
            <h2 class="heading">Withdraw</h2>
           <span>Cannot Withdraw</span>
            <input
                type="number"
                class="get-amount"
            />
            <button>Ok</button>
            <button>Cancel</button>
        </div>
    </div>
</div>